<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movies App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="What do you want to watch?" [(ngModel)]="title" (ionChange)="onSearchChange($event)"></ion-searchbar>

  <p class="ion-text-center" *ngIf="title === ''">Most Relevant Movies</p>
  <swiper *ngIf="title === ''" [config]="swiperConfig" #swiper>
    <ng-template swiperSlide *ngFor="let movieslide of relMovie">
      <ion-item [routerLink]="['/', 'movie-details', movieslide.id]">
       <ion-card>
         <ion-card-header>
           <ion-card-title style="font-size: 12px;" class="ion-text-center">{{movieslide.title}}</ion-card-title>
           <ion-card-subtitle style="font-size: 12px;" class="ion-text-center">{{movieslide.year}}</ion-card-subtitle>
         </ion-card-header>
         <ion-card-content class="ion-text-center">
             <img src="{{movieslide.imgUrl}}">
         </ion-card-content>
       </ion-card>
      </ion-item>
    </ng-template>
  </swiper>

  <ion-list>
    <ion-item button *ngFor="let movie of results | async" [routerLink]="['/', 'movie-details', movie.imdbID]">
    <ion-avatar slot="start">
      <img [src]="movie.Poster" alt={{movie.Title}} *ngIf="movie.Poster !== 'N/A'">
    </ion-avatar>
    <ion-label>
      <h3 style="font-weight: bold;">{{movie.Title}}</h3>
      <h4>{{movie.Year}}</h4>
    </ion-label>
    <ion-label slot="end" *ngIf="movie.Type === 'movie'">
     <h6>Movie</h6>
     <ion-icon slot="end" name="videocam"></ion-icon>
    </ion-label>
    <ion-label slot="end" *ngIf="movie.Type === 'series'">
      <h6>Series</h6>
      <ion-icon slot="end" name="tv"></ion-icon>
     </ion-label>
     <ion-label slot="end" *ngIf="movie.Type === 'episode'">
      <h6>Episode</h6>
      <ion-icon slot="end" name="tablet-landscape"></ion-icon>
     </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
